.lora-mainstyle {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

html, body {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    font-family: "Lora", serif;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    background-image: url(pic/background.png), url(pic/Tenby-School-Setia-EcoHill.png);
}

.top-part {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
    background-color: #493604;
    transform: translateY(10px);
}

.left-side {
    position: absolute;
    left: 5%;
    top: 200%;
}


.right-side {
    position: absolute;
    right: 5%;
    top: 200%
}

.left-side a, .right-side a{
    transform: translateY(20px);
    text-shadow: 0px 0px 2px;
    color:#D49A0A;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 0px 20px;
    opacity: 0;
    animation: fadeinlogo 3s forwards;
    transition: transform 0.3s;
}

@keyframes fadeinlogo {
    100%{
        opacity: 1;
        filter: blur(0);
    }
}


.left-side a:first-child{
    display: inline-block;
    animation-delay:  0.2s;
    transition: 0.3s;
}


.left-side a:first-child:after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.left-side a:first-child:hover{
    transform: scale(1.2);
}

.left-side a:first-child:hover::after{
    width: 100%;
}

.left-side a:nth-child(2){
    display: inline-block;
    animation-delay: 0.3s;
    transition: 0.3s;
}


.left-side a:nth-child(2):after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.left-side a:nth-child(2):hover{
    transform: scale(1.2);
}

.left-side a:nth-child(2):hover::after{
    width: 100%;
}

.left-side a:nth-child(3){
    display: inline-block;
    animation-delay:  0.4s;
    transition: 0.3s;
}


.left-side a:nth-child(3):after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.left-side a:nth-child(3):hover{
    transform: scale(1.2);
}

.left-side a:nth-child(3):hover::after{
    width: 100%;
}

.right-side a:first-child{
    display: inline-block;
    animation-delay:  0.5s;
    transition: 0.3s;
}


.right-side a:first-child:after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.right-side a:first-child:hover{
    transform: scale(1.2);
}

.right-side a:first-child:hover::after{
    width: 100%;
}

.right-side a:nth-child(2){
    display: inline-block;
    animation-delay:  0.6s;
    transition: 0.3s;
}


.right-side a:nth-child(2):after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.right-side a:nth-child(2):hover{
    transform: scale(1.2);
}

.right-side a:nth-child(2):hover::after{
    width: 100%;
}

.right-side a:nth-child(3){
    display: inline-block;
    animation-delay:  0.7s;
    transition: 0.3s;
}


.right-side a:nth-child(3):after {
    content: "";
    position: absolute;
    background-color: #D49A0A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.right-side a:nth-child(3):hover{
    transform: scale(1.2);
}

.right-side a:nth-child(3):hover::after{
    width: 100%;
}

.home-logo {
    display: flex;
    position: absolute;
    left: 44%;
    height: 20vh;
    transition: all 0.4s;
}

.home-logo:hover{
    transform: scale(1.1);
}

.home-logo img {
    height: 120px;
    cursor: pointer;
    animation: fadein 2s;
}

.big-text {
    display: grid;
    align-content: center;
}

.logo-word {
    text-shadow: 0px 0px 10px #D49A0A;
    text-align: center;
    font-size: 180px;
    animation: fadein 4s;
}

@keyframes fadein {
    0%{
        opacity: 0;
        filter: blur(0.4);
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
}


.logo-slogan {
    font-size: 40px;
    text-align: center;
    vertical-align: 20vh;
}

.logo-time{
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 10px #D49A0A;
    transform: translateY(-290px);
    animation: fadein 2s forwards;
}

.logo-time span{
    background-color: #856209;
    display: inline;
    padding: 6px 12px;
    border-radius: 5px;
    animation-delay: 3s;
}

.letter{
    background-color: rgb(2, 2, 86);
    padding: 0;
}

.letter-heading {
    align-items: center;
    text-align: center;
    transform: translateY(30px);
    display: flex;

}

.letter-heading::before, .letter-heading::after{
    content: "";
    border-bottom: 1px solid #896304;
    flex:1;
    margin: 0 10px;
}

.line{
    display:flex;
    content: "";
    border-bottom: 1px solid #896304;
    flex:1;
    margin: 0 10px;
    transform: translateY(-30px);
    padding: 0;
}

.letter-p{
    color: #ffffff;
    font-family: Lora;
    font-weight: 100;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.letter-p p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(90), cursor 0.4s step-end infinite alternate;
}

@keyframes typewriter{
    from { 
        width: 0; 
    }
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

.footer {
    box-sizing: border-box;
    height: 20px;
}

.william-jpg{
    height: 160px;
}

.footerstuff{
    background-color: rgb(2, 2, 86);
    transform: translateY(-20px);
    height: 100px;
    justify-content: center;
    text-align: center;
    color: #a37406;
}

.headerfooter{
    text-decoration: underline;
    color: #a37406;

}

.footerinformation{
    transform: translateY(-10px);
    margin: 0;
    padding: 0;
}

.school-logo {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    transform: translateY(-110px);
    height: 70px;
}

.social-links {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 0vh;
    transform: translateY(-130px);
}